.container {
  width: 50%;
  margin: auto;
  background: #121212;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

header h1 {
  font-size: 24px;
}

.progress-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.progress-circle {
  background: green;
  border-radius: 50%;
  width: 100px; 
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease; 
}

.progress-circle:hover {
  width: 120px;  
  height: 120px; 
  background:green; 
}


.input-container {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.add-btn {
  background: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  background: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e1e;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.task-actions button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.task-actions button:hover {
  color: red;
}
